# PyTorch model checkpoints
*.pth
*.pth.tar

# Common checkpoint directories
checkpoints/
checkpoint/
configs/
models/
saved_models/

# Optional: ignore training artifacts
*.ckpt

*.pt
*.yaml

*.zip
testing/classification_module/food_data_english/
implementation/food_data_english/
testing/segmentation_module/food_data_english/

# Ignore all image formats
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico

# Ignore common image folders (optional but recommended)
**/images/
**/image/
**/img/